PORT=3000
VOICERSS_API_KEY=11ce9497f63d4299b54d659798d4755f
VOICERSS_LANG=en-us
VOICERSS_CODEC=MP3
SADTALKER_DIR=./SadTalker
PYTHON_EXECUTABLE=python
SADTALKER_EXTRA_ARGS=--still --preprocess full
INTERVIEWER_IMAGE=./public/interviewer.svg
