PORT=3000
VOICERSS_API_KEY=759c79c9515242148848e58daaf0d74c
VOICERSS_LANG=en-us
VOICERSS_CODEC=MP3
SADTALKER_DIR=./SadTalker
PYTHON_EXECUTABLE=python
SADTALKER_EXTRA_ARGS=--still --preprocess full
INTERVIEWER_IMAGE=./public/interviewer.svg
